<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized. This file was create by Marino Catarino.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
 
 1. Pandas
 2. SciPy. 
 3. NumPy. 
 4. SeaBorn

Data Science Tools
<table border = 1><tr><td>Jupyter Notebook</td></tr><tr><td>RStudio</td></tr><tr><td>Apache Spark</td></tr></table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers

eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [2]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60)

3.3333333333333335

Objectives:
    
List popular languages for Data Science.
- Python 
- R
- SQL

<h2>Author </h2>
name: Marino Hilario Catarino